/* 구글 웹폰트 가져오기 (노토산스) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    position: relative; /*<i> 태그의 기준을 잡기 위해*/
    display: flex;
    width: 1200px;
    margin: 0 auto; /*가운데로 오게함*/
}

.top_banner {
    padding: 25px 0;
    background: #f1f1f1;
}

.top_banner .container {
    display: block;
}

.top_banner h2 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 30px;
    margin: 0 0 10px 0;
}

.top_banner p {
    font-size: 15px;
    font-weight: 300;
}

/* <a>태그 자체는 기본 inline임
하지만 slick 슬라이더 자바스크립트 안에 설정으로 <a>태그가 inline-block으로 되어있어서, inline-block속성을 쓸 수 있다. */
.top_banner a {
    padding: 0 15px 4px 15px;
    border: 1px solid #333;
    margin: 0 0 0 20px;
}

.top_banner i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background: #333;
    border-radius: 50%;
    color: #f1f1f1;
    cursor: pointer;
}

.header .gnb {
 line-height: 100px;   
}

.header .gnb nav {
    margin: 0 0 0 auto;/*nav 대신 .container 안에 justify-content: space-between; 써서 라인 맞춰서 채울 수 도 있다.*/
}

.header .gnb form {
    margin: 0 0 0 50px;
}

/* 다단메뉴나 다른 박스에 메뉴가 생길 때를 방지해서 >로 자식을 잡아주기 */
nav>ul {
    display: flex;
    /* gap: 40px; */
}

/* nav>ul>li {
    /* padding: 0 20px; *//*gap(IE에서 사용 불가) 옛날 방법으로 패딩씀*/

nav>ul>li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    background:#ddd;
    margin: 0 20px;
}

/* id는 #으로 잡는다. */
#searchForm input[type='text'] {
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none; /*input(검색창) 라인 제거*/
    padding: 5px 0;
}

#searchForm button {
    border: none;
    outline: none;
    background: transparent; /*투명하게*/
    font-size: 30px;
}


/*클래스를 써서 백그라운드를 줌 */
.main_visual figure {
    position: relative;
    height: 600px;
}

.main_visual .item01 {
    background: url(../img/mainvisual01.jpg) no-repeat center center/cover;
}
.main_visual .item02 {
    background: url(../img/mainvisual02.jpg) no-repeat center center/cover;
}
.main_visual .item03 {
    background: url(../img/mainvisual03.jpg) no-repeat center center/cover;
}

.main_visual .container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}

.main_visual figure h3 {
    font-size: 60px;
    font-weight: 900;
    margin: 0 0 20px 0;
    text-shadow: 0 0 2px #000;   /*shadow: 오른쪽, 아래, 블러, 컬러*/
}

.main_visual figure.item02 h3 {
    color: #333;
    text-shadow: 0 0 2px #fff;
}

.main_visual figure p {
    font-size: 13px;
    font-weight: 300;
    margin: 0 0 20px 0;
}

.main_visual figure.item02 p {
    color: #333;
}

.main_visual figure a {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    border: 1px solid #fff;
    background: #333;
    padding: 5px 20px 8px 20px;
}

.main_visual figure h3 {
    transform: translateY(100px);
    opacity: 0;
}

.main_visual figure.on h3 {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;/*슬라이더에서 백을 보장, 위의 태그에 붙이면 오류 생김(뒤로 돌아가는 동작이 안됨)*/
}

.main_visual figure p {
    transform: translateY(100px);
    opacity: 0;
}
.main_visual figure.on p {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s 0.5s;
}
.main_visual figure a {
    transform: translateY(100px);
    opacity: 0;
}
.main_visual figure.on a {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s 1s;
}

.main_visual .slick-dots {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.main_visual .slick-dots li {
    display: inline-block;   /*slick-dots 자체가 js에서 블록설정되있음.*/
    width: 80px;
    height: 5px;
    background: #333;
    margin: 0 5px;
}

.main_visual .slick-dots li::after {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    background:#dc3545;
}
.main_visual .slick-dots li.slick-active::after {
    width: 100%;
    transition: 3.5s;
}


.main_visual .slick-dots button {
    display: none;
}

/* 숙제 겸 연습-------------------------
클래스 이름은 다 보고 따옴 */
/* .content01 {
    padding: 100px 0;
    text-align: center;
}

.content01 h2 {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
    letter-spacing: 0.5em;
}
.content01 p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 0.025em;
}

.content01 .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
.content01 .container figure {
    flex: 1;
    padding: 0 15px;
}


.content01 .container figure .case {
    overflow: hidden;
    margin-bottom: 20px;
}

.content01 .container img {
    width: 100%;
    transition: 0.5s;
}

.content01 .container img:hover {
    transform: scale(1.5);
}

.content01 .container figure strong {
    display: block;
    margin-bottom: 20px;
}

.content01 .container figure a {
    display: inline-block;      /* 테두리위치 조정을 하러면 padding margin등이 들어가야 하는데 기본 inline은 조정할 수 없기 때문에 inline-block으로 블록 속성을 부여해줘서 padding margin등으로 조정이 가능해진다. (테두리와 글씨의 간격 조절 등)*/
    /* border: 1px solid #333;
    line-height: 30px;
    padding: 0 30px;
}
.content01 .container figure a:hover {
    background: #f00;
    color: #f2f2f2;
} */ 


.basic {
    padding: 100px 0;
    background: #ddd;    
    text-align: center;
}


/*-------------------정렬 구식방법----------------------*/
/* .dtainer( => 현재 container임 {
    width: 1230px;
    margin: 0 auto;
}
.dtainer::after {
    content: "";
    display: block;
    clear: both; */
/*float으로 떠오른 것들을 다시 가라앉히는 용도------- 배경화면 갈라지던것을 다시 원상태로 복귀*/
/* 구식으로 정리하기---flex 대신 float 사용 */
/*.dtainer figure {
    float: left;
    width: 33.33333333%; /*갯수에 따라 값을 자꾸 바꿔야 한다.*/
    /* padding: 0 15px;
}

.dtainer figure img {
    max-width: 100%;
} */

.basic .container {
    gap: 30px;
}

.basic figure {
    flex: 1;

}/*reset.css에 img max-width:100%로 사진크기 전체 조절----100%는 박스의 와이드 값을 채움 사진*/



/* .basic ---> section변경... h2같은 경우는 스타일을 하나로 정해줌. */
section h2 {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 10px 0;
}
/* 폰트 변화 인식하기 h2와 p의 차이 주기 */
section p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0;
}


/* 박스가 튀어나오는 것을 방지한 inbox클래스를 만들고, overflow:hidden */
.basic .inbox {
    overflow: hidden;
    border-radius: 38% 62% 37% 63% / 12% 30% 70% 88%;
    transition: 0.5s 0.3s;
    margin: 0 0 30px 0;
}

.basic figure:hover .inbox {
    border-radius: 50% ;
}
.basic figure img {
    transition: 0.5s;
}/*transition을 먼저 걸어줌으로 백방지*/
.basic figure:hover img {
    transform: scale(1.5);
}
/* border-radius generator로 모양을 바꾸는데 어시 */

.basic figure strong {
    display: block;
    margin: 0 0 20px 0;
}

.basic figure a {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 5px 20px 10px 20px;
}

.basic figure a:hover {
    background: #f00;
}


.fixed_bg {
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/mainvisual01.jpg) no-repeat fixed center top/cover; /*백그라운드 포지션 X Y/cover = 박스를 가득 채움.*/
    filter: grayscale(0.75);
    /* background-attachment: fixed;url에서 자리를 잡아놨어도 위치가 바뀜*/
}

.fixed_bg i {
    padding: 10px; 
    background: #333;
    margin: 5px 0 0 20px;
    border-radius: 50%;
    vertical-align: middle;
}

.fixed_bg span {
    vertical-align: middle; /*양쪽에 다 적용시켜야함 하지만 여러개 되면 꼬여서 신중하게 사용*/
}

.movie {
    padding: 100px 0;
}

.movie .container {
    gap: 50px;
}
.movie .container figure {
    flex: 1;
}
.movie .container .dec {
    flex: 1;
    padding: 100px 0;
}

.movie video {
    max-width: 100%;
}

.movie .dec i {
    padding: 10px;
    background: #333;
    color: #fff;
    margin: 0 5px 0 0;
}


/*----------유튜브에서 동영상 끌어와서 백그라운드 재생시키기----------------------------*/
.utube {
    padding: 150px 0;
    text-align: center;
    color: #fff;
    filter: grayscale(1);
}

.utube i {
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 2px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50%;
}



/* 슬릭슬라이더 혼자 해보기 demo=autoplay버전 */
.slider_product {
    padding: 100px 0;
    text-align: center;
    position: relative;
}
.slider_product h2 {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
    letter-spacing: 9px;
}
.slider_product p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 30px;
}

.slider_product .container {
    display: block
}
.slider_product .slick-dots {
    text-align: center;
    margin: 30px 0 0 0;
}

.slider_product .slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #000;
    margin: 0 5px;
    border-radius: 50%;
}

.slider_product .slick-dots li button {
    display: none;
}

.slider_product .slick-dots li.slick-active {
    background: #f00;
}
.slider_product figure {
    padding: 0 15px;
}
.slider_product img {
    max-width: 100%;
}

.slider_product i {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:40px;
    color:#fff;
    background:#333;
    padding:10px;
    border-radius:50%;
}
.slider_product i.xi-arrow-left {
    margin-left:-700px;
}
.slider_product i.xi-arrow-right {
    margin-left:700px;
}



.slider_product strong {
    display: block;
    
}



/* footer해보기-------------------------------------------------
 */
.footer {
    border-top: 1px solid #ddd;
    background: #333;
    color: #fff;
    text-align: center;
}
.footer .container {
    line-height: 60px;
}
.footer ul {
padding: 0 15px;
}
.footer ul>li {
    display: inline-block;
}

.footer ul li:nth-child(3) {
    font-weight: 700;
}
.footer ul>li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background: #f1f1f1;
    vertical-align: middle;
    margin: 0 15px;
}

.footer .ft_top {
    border-bottom: 1px solid #ddddddbb;
}

.footer .sns {
    display: inline-block;
    font-size: 25px;
    margin: 0 0 0 auto;
}

.ft_bottom .container {    
    line-height: 100px;

}

.footer .links {
    margin: 0 0 0 auto;
}


.footer select {
    display: inline-block;
    background:#333;
    padding:5px 15px;
    border:1px solid #666;
    color: #fff;
    margin: 0 0 0 auto;
}



